# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
*/node_modules

frontend/.pnp
frontend/.pnp.js

backend/package-lock.json
backend/.pnp
backend/.pnp.js

# development
docker/*
!docker/web

# testing
frontend/coverage

backend/coverage

# production
frontend/build

backend/build
backend/src/database/production_seeds/*.dat

# environment configurations
frontend/.env*
backend/.env*

# logs
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/yarn.lock

backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*
backend/yarn.lock

#IDEs
.idea

# misc
.DS_Store

#vscode config
.vscode

#https certificates
.cert

#postgres query file for local queries using VScode PostgreSQL extension
backend/temp.postgres