# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
*/node_modules

frontend/package-lock.json
frontend/.pnp
frontend/.pnp.js

backend/package-lock.json
backend/.pnp
backend/.pnp.js

# development
docker/*
!docker/web

# testing
frontend/coverage

backend/coverage

# production
frontend/build

backend/build

# environment configurations
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

backend/.env
backend/.env.local
backend/.env.development.local
backend/.env.test.local
backend/.env.production.local

# logs
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/yarn.lock

backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*
backend/yarn.lock

#IDEs
.idea

# misc
.DS_Store


