# A basic deployment, useful for getting started with development. Don't use this directly for production, but gain inspiration from it, perhaps.
# To start it up, run: "docker compose up --build -d" without the quotes
# To stop it, run: "docker compose stop"
# To stop it and remove container instances, run: "docker compose down"
# Find the server at http://localhost/
version: '3'
services:
    frontend:
        build:
            context: frontend/
            dockerfile: Dockerfile
        restart: always
        command: ['sh', '-c', 'if [ ! -d "node_modules" ]; then yarn install; fi; yarn start > /dev/stdout 2>&1']
        volumes:
            - ./frontend:/app
            - ./docker/log/frontend:/var/log
        depends_on:
            - backend
        ports:
            - "3000:3000"
        networks:
            - gat-node
    backend:
        build:
            context: backend/
            dockerfile: Dockerfile
        restart: always
        command: ['sh', '-c', 'if [ ! -d "node_modules" ]; then npm install; fi; npm run start > /dev/stdout 2>&1']
        volumes:
            - ./backend:/usr/scr/app
            - ./docker/log/backend:/var/log
        depends_on:
            - db
        ports:
            - "8080:8080"
        networks:
             - gat-node
             - gat-db
    db:
        image: "postgres:14-alpine"
        restart: always
        environment:
            POSTGRES_PASSWORD: postgres
            POSTGRES_USER: postgres
        volumes:
            - ./docker/postgres:/var/lib/postgresql/data
        networks:
            - gat-db
        ports:
            - "15432:5432"
    web:
        image: "nginx:1-alpine"
        restart: always
        volumes:
            - ./frontend/build:/var/www
            - ./frontend/Docker/nginx.conf:/etc/nginx/nginx.conf
            - ./docker/log/nginx:/var/log/nginx
        depends_on:
            - backend
            - frontend
        networks:
            - gat-node
        ports:
            - "80:80"

networks:
    gat-db:
        driver: bridge
    gat-node:
        driver: bridge
