# There is an up to date sample.env file here backend/sample.env
# Refer here: for the variable values: https://console.apps.silver.devops.gov.bc.ca/k8s/ns/acd38d-dev/configmaps/0-gdx-agreements-tracker-api-env-config/yaml

JWKSURI=
NODE_ENV=development
POSTGRES_PORT=15432
POSTGRES_HOST=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DATABASE=gat_db
DATABASE_AUTO_DEPLOY=1
COMMON_COMPONENT_CLIENT_ID=
COMMON_COMPONENT_SECRET=
COMMON_COMPONENT_URL=
COMMON_COMPONENT_CHES_API=
COMMON_COMPONENT_CDOGS_API=
COMMON_COMPONENT_TOKEN_HOST=
COMMON_COMPONENT_TOKEN_PATH=
CDOGS_CLIENT_ID=
CDOGS_SECRET=
CHES_CLIENT_ID=
CHES_SECRET=
SINGLE_SIGN_ON_API_TOKEN_HOST=
SINGLE_SIGN_ON_API_TOKEN_PATH=
SINGLE_SIGN_ON_API_CLIENT_ID=
SINGLE_SIGN_ON_CLIENT_SECRET=
SINGLE_SIGN_ON_API=
SINGLE_SIGN_ON_INTEGRATION_ID=
SINGLE_SIGN_ON_ENVIRONMENT=