@import "@bcgov/bc-sans/css/BCSans.css";
@import "./components/variables";

body {
  margin: 0;
  font-family: BCSans, Calibri, Arial, sans serif;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.pmo-app {
  color: $text-color;
  display: flex;
  flex: auto;
}

main {
  flex: auto;
  padding: 1rem;
}
