@import "@bcgov/bc-sans/css/BCSans.css";
@import './components/variables';

body {
    margin: 0;
    font-family: BCSans, Calibri, Arial, sans serif;
}

.pmo-app {
    color: $text-color;
    display: flex;
    flex: 1;
    /*flex-flow: nowrap;*/
    //margin: 0 auto;
    //max-width: 100%;
    //height: 100%;
}

main {
    padding: 1rem;
    display: flex;
    > * {
        width: 50%;
    }

}


// Not sure what this iframe with no src does, but it seems to overlay everything.
iframe {
    &:not(src) {
        display: none;
    }
}
