@import "@bcgov/bc-sans/css/BCSans.css";
@import "./components/variables";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: BCSans, Calibri, Arial, sans serif;
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 375px
}

.pmo-app {
  color: $text-color;
  flex: auto;
}

main {
  flex: auto;
  padding: 1rem;
}
