/** Variables might eventually move to own file. **/
$primary-color: #036; //Header, footer, primary button.
$text-color: #313132; //Headings and paragraphs.
$link-color: #1a5a96; //Links.
$nav-background: #38598a; // Navigational background color.
$grey: #f2f2f2;
$components-color: #606060;
$white: #fff;
$red: #d8292f;
$green: #2e8540;
$yellow: #fcba19;

$breakpoint-xl: 1200px;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;