@import './components/variables';

body {
    margin: 0;
    font-family: BCSans, Calibri, Arial, sans serif;
}

.pmo-app {
    color: $text-color;
    display: flex;
    /*flex-flow: nowrap;*/
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.main-section {

}