name: Build API Image.
on:
  push:
    branches:
      - development
    paths:
      - "backend/**/*"
      - "openshift/templates/images/api/**/*"
      - "openshift/templates/base-images/node-16.yaml"
      - "!backend/.eslintrc.json"
      - "!backend/docs"
      - "!backend/README.md"

  workflow_dispatch:
defaults:
  run:
    working-directory: ./
jobs:
  deploy_api_on_openshift:
    if: github.repository_owner == 'bcgov'
    runs-on: ubuntu-latest
    steps:
      - name: Image Build for gdx-agreements-tracker-api-build
        uses: redhat-developer/openshift-actions@v1.1
        with:
          version: "latest"
          openshift_server_url: ${{ secrets.OpenShiftServerURL }}
          parameters: '{"apitoken": "${{ secrets.OpenShiftToken }}", "acceptUntrustedCerts": "true"}'
          cmd: |
            oc project acd38d-tools
            oc start-build gdx-agreements-tracker-api-build --follow
