name: Test React Application
on:
  pull_request:
    branches:
      - development
    paths:
      - "frontend/**/*"
      - "!openshift/templates/app/docker/Dockerfile*"
      - "!frontend/tsconfig.json"
      - "!frontend/tslint.json"
      - "!frontend/.prettierrc.js"
      - "!frontend/docs"
      - "!frontend/README.md"
      - "!openshift/templates/app/docker/.dockerignore"

  workflow_dispatch:
defaults:
  run:
    working-directory: frontend/
jobs:
  app_lint_and_test_check:
    if: github.repository_owner == 'bcgov'
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: "18.18.0"
          cache: "npm"
          cache-dependency-path: "**/package-lock.json"

      - name: Print Node version
        run: node -v

      - name: Install packages
        run: npm ci

      - name: Run ESLint
        run: npm run lint

      - name: Run Tests
        run: npm run test
